<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}



    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <a href="https://github.com/microTk/microTK"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
        <div class="container">
          <a href="{{ site.baseurl }}/" title="Home"><img class="masthead-image" width="75px" src="{{ site.baseurl }}/assets/images/Logo.svg"/></a>
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content" id="main">
        {{ content }}

        <div class="ad-bottom">
          {% include ad.html %}
        </div>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
    // Yea I know what your thinking, "Hey, they don't even use their own Library..." 
    // We take minimalist sersiouly.  Why add 5k when we can do it with 10 lines.

    // Toggle sidebar  
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
